[submodule "MacBootstrap"]
	path = MacBootstrap
	url = https://github.com.cnpmjs.org/AskeyNil/MacBootstrap.git
[submodule "Blog"]
	path = Blog
	url = https://github.com.cnpmjs.org/AskeyNil/MyBlogSource.git
[submodule "BlogCode"]
	path = BlogCode
	url = https://github.com.cnpmjs.org/AskeyNil/BlogCode.git
[submodule "LeetCode"]
	path = LeetCode
	url = https://github.com.cnpmjs.org/AskeyNil/LeetCode.git
